<nav class="navbar">
  <ul class="nav-list">
    <ng-container>
      <li class="nav-item">
        <a *ngIf="isUserLoggedIn" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isUserLoggedIn" routerLink="/products">Products</a>
      </li>\
      <li class="nav-item">
        <a *ngIf="isUserLoggedIn" routerLink="/dealers">Dealers List</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isUserLoggedIn" routerLink="/search">Search</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isUserLoggedIn" routerLink="/logout" (click)="handleLogout()">Logout</a>
      </li>
      <span class="user-style" *ngIf="isUserLoggedIn">
        Welcome : {{username}}
        <img class="avatar" src="\images\login.png" alt="Avatar" />
      </span>

      <li class="nav-item">
        <a *ngIf="!isUserLoggedIn" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!isUserLoggedIn" routerLink="/login">login</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!isUserLoggedIn" routerLink="/aboutus">About us</a>
      </li>

    </ng-container>
  </ul>
</nav>